a.active {
  color: red;
  
}
.nav{
    text-align: center;
    margin-top: 2rem;
    
}
.nav a{
    margin-top: 5rem;
    padding-left: 2rem;
    margin-right: 40px;
    text-decoration: none;
    
}